.title h1 {
    color: rgb(39, 41, 41);
    text-align: center;
}

.chicken h2 {
    background: darkolivegreen;
    border: 2px solid rgb(131, 8, 8);
}

.chicken p {
    background: tomato;
    padding: 10px;

}