* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin: 25px;
}
.box {
    float: left;
    width: 33.33%;
    padding: 10px;
    margin: 10px;
}
.container {
    width: 400px;
    background: rgb(240, 238, 238);
    border: 2px solid rgb(8, 8, 8);
    padding: 15px;
    position: relative;
}
#chicken {
    position: absolute;
    top: 0px;
    left: 248px;
    background: rgb(250, 245, 173);
    border: 2px solid rgb(8, 8, 8);
    width: 150px;
    padding: 10px;
    margin-top: -2px;
    text-align: center;
}

#beef {
    position: absolute;
    top: 0px;
    left: 248px;
    background: rgb(247, 146, 146);
    border: 2px solid rgb(8, 8, 8);
    width: 150px;
    padding: 10px;
    margin-top: -2px;
    text-align: center;
}

#sushi {
    position: absolute;
    top: 0px;
    left: 248px;
    background: rgb(221, 245, 191);
    border: 2px solid rgb(8, 8, 8);
    width: 150px;
    padding: 10px;
    margin-top: -2px;
    text-align: center;
}
.text {
    padding-top: 40px;
}